.carousel-item {
  min-height: 300px;
  position: relative;
  box-sizing: border-box;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  display: block;
}


.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 20;
  pointer-events: none; /* optional */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

/* Remove transitions when .carousel-item _and_ .no-transition*/
.carousel-item.no-transition {
  transition: none !important;
}

/* Constrained carousel */
.carousel.carousel-framed{
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.carousel.carousel-framed .carousel-item {
  padding-bottom: 110px;
  background-clip: content-box;
}

.carousel.carousel-framed .overlay {
  box-sizing: border-box;
  padding-bottom: 110px;
}

.carousel.carousel-framed .carousel-control-prev-icon,
.carousel.carousel-framed .carousel-control-next-icon {
    margin-bottom: 110px;
}


.carousel.carousel-framed .carousel-caption {
  padding-top: 1em;
}
