/* css styles */

@import url("https://fonts.googleapis.com/css2?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Quicksand");
@import url("https://fonts.googleapis.com/css2?family=Source Code Pro");

/* Center output images */
.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html {
    --header-color: hsl(0, 0%, 25%);
    --link-dark: hsl(210, 60%, 40%);
    --link: hsl(200, 60%, 50%);
    --link-background: hsl(200deg 60% 50% / 10%);
    --dark: hsl(210, 42%, 45%);
    --heading-font: "Raleway", helvetica, arial, sans-serif;
    --nav-font: "Raleway", helvetica, arial, sans-serif;
    --global-font: "Quicksand", helvetica, arial, sans-serif;
    --code-font: "Source Code Pro", helvetica, arial, sans-serif;
}

p, div {
    font-family: var(--global-font);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-color);
    font-family: var(--heading-font);
}

pre > code.sourceCode  span {
    font-family: var(--code-font);
}


a {
    color: var(--dark)
}

main.cell {
    font-family: var(--code-font);
}

.navbar, .nav-footer {
    background-color: var(--dark);
    font-weight: 400;
}

.navbar-title {
    min-width: 150px;
    font-family: var(--nav-font);
    font-size: 24px;
}

div.quarto-about-jolla .about-link {
    font-family: var(--all-font);
    border-color: var(--dark);
    border-radius: .25rem;
    border: solid 1px;
    color: var(--dark);
    font-size: 1em;
    padding: .25em .75em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

div.quarto-about-jolla .about-link:hover {
    color: #fff;
    background-color: var(--dark);
    border-color: var(--dark);
}