@import url("https://fonts.googleapis.com/css2?family=Sanchez");
@import url("https://fonts.googleapis.com/css2?family=Lato");

html {
  /*-- Main font colors --*/
  --header-color: hsl(210, 10%, 40%);
  --link-dark: hsl(210, 60%, 40%);
  --link: hsl(200, 60%, 50%);
  --link-background: hsl(200deg 60% 50% / 10%);
  --dark: hsl(210, 10%, 25%);

  /* Custom fonts */
  --heading-font: "Sanchez", helvetica, arial, sans-serif;
  --nav-font: "Lato", helvetica, arial, sans-serif;
}

p a {
  border-bottom: 0;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 100% 2.4px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  border-radius: 1px;
  color: var(--link);
  font-size: 1.1em;
  text-decoration: none;
}

p a:hover {
  border-bottom: 0;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 100% 2.4px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  border-radius: 1px;
  color: var(--link-dark);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
  font-family: var(--heading-font);
}

d-article h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

pre.sourceCode {
  background: #f5f2f0;
  border-radius: 3px;
  border: solid 1px hsl(200, 20%, 88%);
  padding: 1em;
}

.distill-site-header .title {
  font-family: var(--nav-font);
  font-size: 24px;
  min-width: 150px;
}

.distill-site-nav {
  background-color: var(--dark);
  font-weight: 400;
}

.distill-site-nav a {
  font-family: var(--nav-font);
  font-size: 22px;
  text-decoration: none;
}

.posts-list .post-preview h2 {
  font-family: var(--heading-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0 0 6px 0;
}

/* Inline code formatting */
p code, li code {
  color: #fff;
  font-size: 1.0em;
  background: hsl(200deg 60% 60% / 100%);
  border-radius: 3px;
  padding: 0 3px;
  margin: 0 3px;
  word-wrap: break-word;
  letter-spacing: normal;
}

/* Button font is the same than headers */

button {
  font-family: var(--heading-font);
}

/* Sticky footer */

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr;
}

.distill-site-footer {
  align-self: end;
}